# Webseite
SITE_BASE_URL=https://energieexperten-bremen.de

# Betreiberangaben
OPERATOR_NAME=
OPERATOR_COMPANY=
OPERATOR_STREET=
OPERATOR_POSTAL_CODE=
OPERATOR_CITY=
OPERATOR_COUNTRY=Deutschland
OPERATOR_PHONE=
OPERATOR_EMAIL=
OPERATOR_VAT_ID=
EDITORIAL_RESPONSIBLE=

# Dienstleister
HOSTING_PROVIDER=
HOSTING_LOCATION=
MAIL_PROVIDER=
MAIL_LOCATION=

# Formularversand
MAIL_ENABLED=false
MAIL_RECIPIENT=
MAIL_FROM=portal@energieexperten-bremen.de
RATE_LIMIT_SALT=

